# Manually added
vGenTest/vXboxTest/Release/
*.tlog
*.idb
*.exp
*.db

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb
External/gen-versioninfo.h
Win32/
gen-versioninfo.h
x64/
docs/vGenInterface.pdf
vGenTest/WrapperTest/makefile
vGenTest/WrapperTest/makefile.inc
vGenTest/WrapperTest/obj/x86/Debug/WrapperTest.Properties.Resources.resources
vGenTest/WrapperTest/obj/x86/Debug/WrapperTest.TesterForm.resources
vGenTest/WrapperTest/obj/x86/Debug/WrapperTest.csproj.FileListAbsolute.txt
vGenTest/WrapperTest/obj/x86/Debug/build.force
vGenTest/WrapperTest/obj/x86/Release/WrapperTest.Properties.Resources.resources
vGenTest/WrapperTest/obj/x86/Release/WrapperTest.TesterForm.resources
vGenTest/WrapperTest/obj/x86/Release/WrapperTest.csproj.FileListAbsolute.txt
vGenTest/WrapperTest/obj/x86/Release/build.force
vGenTest/WrapperTest/sources
vGenWrap/bldWrapper.bat
vGenWrap/makefile
vGenWrap/makefile.inc
vGenWrap/obj/x86/Debug/build.force
vGenWrap/obj/x86/Debug/vJoyInterfaceWrap.csproj.FileListAbsolute.txt
vGenWrap/obj/x86/Release/vGenInterfaceWrap.csproj.FileListAbsolute.txt
vGenWrap/obj/x86/Release/vJoyInterfaceWrap.csproj.FileListAbsolute.txt
vGenTest/WrapperTest/app.config
vGenTest/WrapperTest/bldTester.bat
SDK.zip
vGenWrap/ComTest/obj/x86/Release/ComTest.csproj.FileListAbsolute.txt
SDK/vGenInterface.pdf
